# Application
APP_NAME=wfg-transaction-webhooks-api
DEBUG=False

# Database
DATABASE_URL=postgresql+psycopg2://apiuser:apipass@postgres:5432/wfg-transaction-webhooks-api
DATABASE_POOL_PRE_PING=False
DATABASE_POOL_RECYCLE=600
DATABASE_POOL_TIMEOUT=30
DATABASE_POOL_SIZE=10
DATABASE_MAX_OVERFLOW=20

# Redis
REDIS_URL=redis://:redis-password@redis:6379/0
